[2013-05-20 10:50] sam6000 opened #1 "Showing SSL or TLS information."
CipherFox add-on does not provide whether current connection to a secure server is using SSL or TLS! It's very easy to see such information in IE, Can we expect that in future versions?

[2013-08-22 13:49] mvario opened #2 "Firefox 25 on Linux"
Just stopped working with upgrade to Firefox 25 Aurora on Linux

[2013-09-10 14:22] ck-on opened #3 "Possible to show complete cipher name?"
Is it possible to decode the exact cipher in use from its 4 byte code?
Not sure if this information is accessible via an add-on.

ie. RC4 is not just RC4

there is
SSL_RSA_WITH_RC4_128_MD5
SSL_RSA_WITH_RC4_128_SHA
TLS_RSA_WITH_RC4_128_SHA
TLS_DHE_DSS_WITH_RC4_128_SHA

If storing all the strings is too much, at least allow the two byte (four hex) code to be shown via the string variable option.

ie

[2013-10-14 11:20] malexmave opened #4 "Key Exchange Methods"
This may be somewhat redundant with #3, but I'll ask anyway, as I am not quite sure what the result of #3 will look like:

It would be awesome if you could add a placeholder for the key exchange mechanism (RSA, DH*, ...), once that is possible. It's my hobby to check if a website is using a SSL mode with forward secrecy (Diffie-Hellmann) and write angry mails if they are not, and this is very easy

[2013-10-29 23:54] gavinhungry opened #5 "Some strings currently not localized"
Currently, the prefs description for `$CIPHERSUITE` and `$PROTOCOL` are not localized.  There may be more new strings as new properties are exposed as pulled from cipher suite, which will also require localization.

[2013-11-08 05:11] Cai0407 opened #6 "$PROTOCOL does not corresponds to actual TLS/SSL protocol"
$PROTOCOL seems to refer prefix "TLS" or "SSL" of cipher suites.
However, these prefix does not correspond to actual protocol.

ex. TLS 1.0 connection (security.tls.version.max = 1 and security.tls.version.min = 1) to github.com shows "SSL_RSA_WITH_RC4_128_SHA".

Difference between prefix "SSL" and "TLS" is just the definition in NSS, not actual TLS/SSL connection.
http://hg.mozilla.org/mozilla-ce

[2013-11-08 16:38] #6 closed, assigned to nobody

[2013-11-16 05:34] Cai0407 opened #7 ""Disable RC4 cipher" does not work on Firefox 28 Nightly"
By bug 934663 (https://bugzilla.mozilla.org/show_bug.cgi?id=934663), all prefs related to cipher suites (security.ssl3.*) are hidden from about:config on Fx Nightly.
Because of this change, "Disable RC4 cipher" function of Cipherfox (it seems to be just change boolean from true to false) does not work on Nightly.
We need create each prefs and set them to false.

Current Nightly enables these 4 RC4

[2013-12-06 15:10] #7 closed, assigned to nobody

[2013-12-08 10:04] #2 closed, assigned to nobody

[2013-12-09 11:09] alevesely opened #8 "Certificate chain"
The certificate chain seems to miss the root certificate.  For example, while editing this report I see "RC4 128-bit" on the cipher field, and when I click it, I would expect:

   GTE Corporation (RSA 1024-bit: MD5)
   DigiCert Inc (RSA 2048-bit: SHA1)
   DigiCert Inc (RSA 2048-bit: SHA1)
   GitHub, Inc. (RSA 2048-bit: SHA1)

Instead, I only get:

   DigiCert Inc (RSA 2048-bit: SHA1)
   DigiCert I

[2014-03-19 09:50] agrajaghh opened #9 "Youtube rc4"
Hi guys,

I can't play youtube videos while RC4 is disabled. Its really annoying to enable it everytime. Would it be possible to add a whitelist for websites which are allowed to use RC4?

[2014-04-13 17:43] johnwait opened #10 "Enhancement: Formatting string variable for cert. issuance date"
I think it would be worth it to add to the list of formatting string variables one that allow the display of the current certificate's "issued on" date, as a complement to a certificate's expiration date, especially in the aftermath of the "Heartbleed" OpenSSL bug.
Thanks in advance for the consideration.

[2014-04-15 17:08] #1 closed, assigned to nobody

[2014-04-16 00:29] #10 closed, assigned to nobody

[2014-04-16 00:43] #9 closed, assigned to nobody

[2014-04-16 00:45] #4 closed, assigned to nobody

[2014-04-16 00:47] #3 closed, assigned to nobody

[2014-05-03 00:46] gavinhungry opened #11 "Not working with Firefox ESR"
ESR 24.5.0, Linux x86_64:

[code]

[2014-05-04 16:04] ReggX opened #12 "XML Error when trying to open preferences"
I get an XML error when I try to open the pref window in Firefox 29 and Beta 30

chrome://cipherfox/content/prefs.xul
line 120: Entity not defined

[2014-05-08 13:16] gizmo21 opened #13 "RC4 disabling seems to break video in youtube"
It seems your extention removes RC4 certs and thus breaking ssl video display in youtube (site loads but video gets a "Error occured" like: https://support.google.com/youtube/answer/3037019?p=player_error1&rd=1 ).

After going Extras - "RC4 enable" and reloading https://www.youtube.com the video plays well, similar problems with manual pref settings: https://support.mozilla.org/de/questions/990082

[2014-05-08 18:06] #13 closed, assigned to nobody

[2014-05-08 18:06] #12 closed, assigned to nobody

[2014-05-08 18:07] #11 closed, assigned to nobody

[2014-06-20 00:34] ck-on opened #14 "extension causes long pause when using self-signed ssl certificate"
After some trial and error I hunted down a long delay caused by cipherfox.

I use several personal sites with a self-signed SSL certificate and out of laziness I just use a generic domains (ie. "example.com" or "localhost") as the certificate domain.

I didn't experience this bug with FF28 but with FF30 and FF31 there is a long delay before loading the page and more importantly, there is a long de

[2014-08-06 04:27] Cai0407 opened #15 "Not working with Aurora 33 and Nightly 34"
With Aurora 33 or Nightly 34, Cipherfox does not appear on addon bar or site identification dialog.
Any errors are not recorded on Browser Console.

With Beta 32, Cipherfox works well.

[2014-10-16 12:46] northpark opened #16 "not working in firefox 33"
CipherFox 3.7.3 is not working in firefox 33.
Please fix it, thank you

[2014-10-17 17:59] #16 closed, assigned to nobody

[2014-10-17 18:00] #15 closed, assigned to nobody

[2014-10-26 10:44] Cai0407 opened #18 "Protocol version on Firefox 36+"
Based on bug 886752 (https://bugzilla.mozilla.org/show_bug.cgi?id=886752), we can get the protocol version information (SSL 3.0, TLS 1.0, TLS 1.1, or TLS 1.2) on Firefox 36+ now.
Cipherfox should also show protocol version.

[2014-10-27 18:00] #18 closed, assigned to nobody

[2014-11-05 08:24] mozfreddyb opened #22 "Suggestion: Show HSTS and HPKP status"
HSTS = HTTPS Strict Transport Security
HPKP = HTTPS Public Key Pinning

[2014-11-12 23:50] reubendowle opened #24 "$CERTHASH shows ? for certificates signed with ECDSA"
When using a certificate that has been signed using ECDSA, cipherfox shows a ? instead of correct signature algorithm. For example the below image was from a certificate using ECDSA with SHA-256

![untitled](https://cloud.githubusercontent.com/assets/9706673/5020758/82de32d0-6b31-11e4-9b72-a63d29f4037a.png)
,

[2014-11-14 23:32] #24 closed, assigned to nobody

[2015-02-23 22:15] gavinhungry opened #25 "Add support for SeaMonkey"
http://www.seamonkey-project.org/

[2015-02-27 08:52] habakuk007 opened #26 "Missmatch ssllabs and cipherfox"
Hi,
I use Firefox 36.0 / Win 7.0 and if I disable rc4 the connection to https://www.wufoo.com/ is blocked (ssl_error_no_cypher_overlap ), but if I check it with https://www.ssllabs.com/ssltest/analyze.html?d=atlassian.wufoo.com it says that it should be secure:  	TLS 1.2, TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA (0xc014), FS, 256

Why?

Best regards!
    Stefan

[2015-03-02 23:45] gavinhungry commented on #26
@habakuk007,

I can connect to that site just fine, with RC4 enabled (Firefox 36.0, Linux). Maybe you disabled some other cipher suites by accident?

I connect with `TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA` (`security.ssl3.ecdhe_rsa_aes_256_sha`). Is that enabled for you in about:config?

[2015-03-03 01:20] gavinhungry commented on #14
Closing unless this can be reproduced. @ck-on, feel free to open this if you have anything to add.

[2015-03-03 01:20] #14 closed

[2015-03-04 19:35] habakuk007 commented on #26
Thanks for your answer.

I think that the option `security.tls.version.max` was set wrong - it was set to 1 now I reseted it to default.

I have no idea why it was set...

Ciao!
   Stefan

[2015-03-04 19:53] gavinhungry commented on #26
Glad its working!

[2015-03-04 19:53] #26 closed

[2015-04-16 22:22] Poohblah opened #27 "No information in Site ID dialog for partially encrypted sites"
I don't see encryption information for pages where not all elements are encrypted, e.g.:
![2015-04-16-161725_3840x1200_scrot](https://cloud.githubusercontent.com/assets/3742215/7192618/74a2c69e-e454-11e4-868e-e75c6f7b26cc.png)
Here is a screenshot to confirm that cipherfox works otherwise:
![2015-04-16-161911_3840x1200_scrot](https://cloud.githubusercontent.com/assets/3742215/7192619/74a34128-e454

[2015-04-18 11:59] Der-Orden commented on #27
No problem here. have u enabled the option to show TLS-Information on non full encrypted sites?
You can find it in the CipherFox options:
![cf1](https://cloud.githubusercontent.com/assets/10184283/7215329/014da184-e5d3-11e4-833a-6d95f141687c.PNG)

[2015-04-20 16:54] gavinhungry commented on #27
@Der-Orden is correct. By default, CipherFox does not appear at all for partially-encrypted pages. Doing so by default could give users the impression that their entire session is secure. You have to opt-in for that feature.

[2015-04-20 17:42] Poohblah commented on #27
The checkbox is ticked in my CipherFox preferences, but I still don't see the encryption cipher information in the Site ID dialog. :( I see the same behavior with Firefox 37.0.1 on OS X as well.

I disagree. Firefox already displays the warning icon instead of the lock icon to convey this piece of information.

[2015-04-20 17:55] gavinhungry commented on #27
Post a screenshot of your current CipherFox preferences, if you can. I'm using CipherFox 3.10.1 on Firefox 37.0.1 on Linux and it works as expected. I'm using this page to test: https://gavinhungry.io/partial.html

What domains/pages are you trying this on?

In any case, if it's not working for you now with the option checked, it's not going to work if I change the default (which I'm not going to

[2015-04-20 18:07] Poohblah commented on #27
I'm using https://www.colorado.edu/user to test - this site is not working for me. Looks like https://gavinhungry.io/partial.html works for me.

Here is the requested screenshot (on OS X this time):
![untitled](https://cloud.githubusercontent.com/assets/3742215/7236914/3c451302-e755-11e4-80df-34f350d0040d.png)

True. And while I disagree with this design decision (I'm in the "provide sensible defa

[2015-04-20 18:20] gavinhungry commented on #27
Well, Firefox itself won't show you the cipher being used if the session is partially encrypted:
**Connection Partially Encrypted** vs.
**Connection Encrypted (TLS_ECHDE_*...*, 128 bit keys, TLS 1.2)**

Anyways, https://www.colorado.edu/user doesn't display CipherFox for me either. Hmm. Thanks for the link, I'll look into this.

[2015-04-20 18:56] gavinhungry commented on #27
The issue (from CipherFox's perspective) is that **`SSLStatus`** (`securityUI.QueryInterface(...).SSLStatus`) is **`null`**.

I was suspecting that the domain does not have SSL/TLS configured correctly. Even just visiting this standalone image (ostensibly via SSL/TLS) that is included on the page you linked gives a "partially encrypted" message:
https://www.colorado.edu/profiles/cu_homepage/themes

[2015-04-20 19:03] gavinhungry commented on #27
I think that supporting RC4 (and only RC4) is the culprit here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1093595
https://developer.mozilla.org/en-US/Firefox/Releases/36#Security

[2015-04-20 19:53] Poohblah commented on #27
Yes, we were debugging cipher suite issues on on the ssl termination device for www.colorado.edu (incl. dev and test as well) when I came across this issue with CipherFox.  Chrome has no problem with RC4, which may be why the devs haven't noticed any problems with SSL on the site recently.

[2015-04-20 20:09] Poohblah commented on #27
In any case, I was trying to use Firefox to confirm what ciphers the sites in question were using. Even if Firefox considers a particular cipher to be insecure, is it possible to use CipherFox to get information about that cipher on the current connection?

[2015-04-23 16:55] gavinhungry commented on #27
@Poohblah, I honestly don't know. `nsISSLStatus` is the only interface I know of to this data, and if Firefox isn't providing it in these cases, I'm not sure what else I can do.

[2015-04-23 17:41] Poohblah commented on #27
Ok.  So it sounds like Firefox doesn't have the proper tools to debug the "insecure cipher" warning in all cases. Thanks for looking into this.

On a side note, you may have noticed that we are no longer using RC4.

[2015-05-11 14:36] rmenessec opened #28 "Proper Firefox 4+ widget"
CipherFox still uses an entry in the old status bar, which you have to install one or more extensions to get back in modern releases of Firefox. (Or, if there is a Firefox 4+ widget, it's well-hidden.)

This is one of the very last extensions I have installed that doesn't have its own widget or widgets for Firefox 4+. The "Show CipherFox in Add-ons Bar" option is promising, but actually toggles wh

[2015-06-16 20:20] gavinhungry opened #29 "Add support for Pale Moon"
See:
http://forum.palemoon.org/viewtopic.php?f=1&t=8160
http://forum.palemoon.org/viewtopic.php?f=13&t=7843&start=20

[2015-07-18 02:12] pknhvt commented on #29
I currently use cipherfox in Pale Moon and would like to see the additional information displayed in cipherfox.  I like squarefractal's idea of parsing "the "ugly" string" (see: http://forum.palemoon.org/viewtopic.php?f=13&t=7843&start=20).

[2015-08-26 07:01] #29 closed

[2015-08-26 07:12] gavinhungry commented on #29
Also relevant: a4a7a86c24fde3ac7cd7cc876c72a61f919a4ebe

[2015-08-26 09:19] Cai0407 opened #30 "Remove "(Firefox XX+)" from cipherSuite.label and protocol.label"
Now, cipherSuite.label and protocol.label in pref.dtd have annotations about available Firefox version.

    <!ENTITY cipherSuite.label "Full Cipher Suite (Firefox 25+)">
    <!ENTITY protocol.label    "Protocol Version (Firefox 36+)">

I think it is good time to remove these annotations because Firefox 31 ESR has been EOLed and support for Pale Moon has been added.

other than ja-JP;

    <!ENTIT

[2015-08-28 16:32] gavinhungry commented on #30
@Cai0407, while it is true that Firefox is now no longer the only explicitly supported platform for CipherFox, according to the [latest stats](https://addons.mozilla.org/en-us/firefox/addon/cipherfox/statistics/usage/applications/?last=30), over 10% of CipherFox users are still on Firefox < 36, which would at least prevent them from using `$PROTOCOL`.

Options:
  1. Do nothing
  2. Bump `minVersio

[2015-08-28 22:25] gavinhungry commented on #25
Fixed with 9538d89efa108c6d79340db3f43ddad077950ec4! Version 3.12.0 will support SeaMonkey.

[2015-08-28 22:40] gavinhungry commented on #30
Fixed by 21ae29c832b19c53bcaba1d1e8f583c52e1a4fd1 d10f27c01289933c9a75cb3482219e199b4380e3

[2015-08-28 22:40] #30 closed

[2015-08-28 22:43] gavinhungry commented on #28
CipherFox can appear in the Add-ons bar (which is useful for SeaMonkey and Pale Moon) and/or in the Site ID dialog (useful in Firefox). It doesn't quite match the style of the modern (41+) Firefox builds, but that's another issue.

[2015-08-28 22:43] #28 closed

[2015-08-28 22:43] #25 closed

[2015-08-28 22:47] gavinhungry commented on #27
Closing, since this isn't a CipherFox issue.

[2015-08-28 22:47] #27 closed

[2015-08-28 22:51] gavinhungry commented on #8
@alevesely,

I'm now on Firefox 42, and I can't see the GTE cert anymore. I'm not sure this is something I can fix.

[2015-08-29 11:11] Cai0407 commented on #30
Thanks for quick fix!

[2015-09-01 00:21] gavinhungry commented on #30
@Cai0407 - I should also note that both Pale Moon and SeaMonkey support `$PROTOCOL` and `$CIPHERSUITE`.

[2015-09-01 09:56] Cai0407 opened #31 "Site ID dialog width is not enough"
Firefox 41.0b5 without Cipherfox 3.12.0:
![2](https://cloud.githubusercontent.com/assets/2016274/9601172/dd944eb4-50da-11e5-9f98-2725dcfc0d85.png)

Firefox 41.0b5 with Cipherfox 3.12.0:
![1](https://cloud.githubusercontent.com/assets/2016274/9601181/e9ea7486-50da-11e5-8cbb-1532717112cb.png)

Buttons to show connection information and "details" are not shown...

[2015-09-04 20:51] gavinhungry commented on #31
What are our options?

- Truncate the label
- Make the Site ID dialog bigger
- Move CipherFox altogether
- Other?

[2015-09-04 20:51] gavinhungry commented on #31
Sorry, did not mean to close.

[2015-09-07 07:40] Cai0407 commented on #31
Required width is depend on the setting of "Cipher" of Cipherfox ($CIPHERCUITE will be very long in case of ECDHE/GCM).
I think it is better to
1. make Site ID dialog bigger
and
2. move Cipherfox button above the "details" button by Firefox itself

[2015-09-08 00:22] dings-bums commented on #31
You should take a look at Firefox Nightly, Site ID Dialog is work in progress. At the moment it looks as follows:
- CipherFox disappeared
- Dialog has a fixed width
- Buttons and dropdown-lists have a max. width to prevent problems like shown above

Firefox 43.0a1, Build-ID 20150907030206:
![nightly_sid_pt1](https://cloud.githubusercontent.com/assets/14170115/9723958/c5a98af0-55ce-11e5-8262-905bcb

[2015-09-08 17:46] gavinhungry commented on #31
I'm on Firefox 42 (Developer Edition).

@Cai0407, I agree that it should be on its own line to avoid this.  But it does look the dialog is changing (differences between 41, 42 and 43), so I may wait until it settles.

@dings-bums, I greatly dislike "toolbar buttons," so we'll save that as a last result.

I'd like to let CipherFox resize the width of the box, if needed.

[2015-10-17 19:57] cy8aer commented on #22
+1 It is not very intuitive to get these information out of the debugger by now. An information which pin is used for the connection (on multi pin headers) would be useful too.

[2015-11-03 16:47] ReggX opened #32 "Cipherfox dropdown in site ID dialog is gone in Firefox 42"
Upgraded to Firefox 42 64bit today and the dropdown disappeared from the site ID bubble.

See also https://github.com/gavinhungry/cipherfox/issues/31#issuecomment-138396109

(Opened as new issue in order to keep disucussion in the other issue on topic)

[2015-11-03 22:59] gavinhungry commented on #32
Try CipherFox 3.13.0 (on AMO as of today) - I haven't resolved the width issue (#31), but it supports Fx 42 now.

![CipherFox 3.13.0](https://cloud.githubusercontent.com/assets/744538/10924432/6d02f30c-823b-11e5-9922-3e6a987e1ced.png)

[2015-11-20 09:15] beerisgood opened #33 "Make statusbar item moveable"
Can you please make the statusbar icon moveable?
Here is a screenshot which show the customize option and the Cipherfox item isn't moveable (in Pale Moon 25.8.0 x64)

![cipherfox_statusbar](https://cloud.githubusercontent.com/assets/9625159/11295982/790e02e0-8f6f-11e5-9dd7-59a538c1c55a.png)

[2015-11-20 11:33] mattatobin commented on #33
Just for clarification...

What this user wants is to have a choice between the classical statusbar item OR a regular toolbar widget that can be placed anywhere such as a toolbar button-y widget thing that can be arbitrarily moved and placed anywhere in the UI.

[2015-12-16 01:45] DaAwesomeP opened #34 "New Firefox 43 box does not expand to full size"
The new box needs to expand to the proper width, as it just adds an ellipsis to the select box.
![screenshot](https://cloud.githubusercontent.com/assets/4472083/11829719/4c7152ba-a364-11e5-8a7b-a5be0ad4b3e6.png)
Great extension, by the way!

[2015-12-16 01:59] gavinhungry commented on #34
Hi @DaAwesomeP,

I think is a duplicate of #31, so I'm closing this - let me know if you feel otherwise. The text was truncated as part of #32, but I do intend to find a decent solution to just widen the Site ID dialog.

[2015-12-16 01:59] #34 closed

[2015-12-16 01:59] #32 closed

[2015-12-16 02:21] DaAwesomeP commented on #31
+1 I like both ideas. I prefer the idea to put the first line of the select box on a different line and replace it with something like "More Information." This will probably make it much more future-proof.

If you decide to have the dialog box resize, please be sure to implement a CSS animation on the width if there isn't already one there from Mozilla to make the transition smooth.

This is now s

[2015-12-16 02:22] DaAwesomeP commented on #34
Sorry, I didn't see the other issues. No problem!

[2015-12-16 02:51] DaAwesomeP commented on #31
Another option would be to add the select box to the Page Info window as well.

[2015-12-16 03:22] dings-bums commented on #31
Would it be possible to repeat the button text as first line or to add an configurable line on the dropdown list? This should fit for $PROTOCOL and $CIPHERSUITE options.

[2016-01-19 20:54] gavinhungry opened #35 "Add support for e10s"

[2016-04-06 02:01] hzsolt94 opened #36 "Questionmarks for chiper size, type, hash, and other values"
This seems to be a compatibility issue with Firefox 45.0 (Ubuntu)

![chipherfox](https://cloud.githubusercontent.com/assets/1573042/14303630/402d6e3a-fbac-11e5-9a2d-c21f5de5d4a5.png)

[2016-04-06 22:45] gavinhungry commented on #36
Seems to work fine here. Firefox 45.0.1, Arch Linux, CipherFox 3.13.0. What does your formatting string look like? I'm assuming it's been left on the default.

![phobos-20160406_154207_pdt](https://cloud.githubusercontent.com/assets/744538/14335216/6612ebe0-fc0e-11e5-8ba9-4d22e0ba11b3.png)

[2016-04-06 23:12] Cai0407 commented on #36
Also seems to work fine. Firefox 46.0b8, Win 7 Pro x64 Japanese.

![2016-04-07 08 09 19](https://cloud.githubusercontent.com/assets/2016274/14335704/53ce7320-fc98-11e5-92b2-ef303fbcabd2.png)

[2016-04-15 00:13] DaAwesomeP commented on #31
@gavinhungry Mozilla seems to have settled the styling of the SSL info box for now.

@dings-bums I like that idea. That would solve the problem not matter what the size of the drop down box.

[2016-04-19 19:58] dings-bums commented on #31
The next change arrived in Nightly 48.0a1...
![nightly_48 0a1](https://cloud.githubusercontent.com/assets/14170115/14653475/63a65b2e-0679-11e6-8593-6e3cee89d39a.gif)

[2016-04-21 01:41] DaAwesomeP commented on #31
@gavinhungry Would you consider @dings-bums' solution? I think that a disabled select box item would work great no matter the layout:

[2016-05-12 20:11] hzsolt94 commented on #36
Formatting string left on default:
Cipher: ``$CIPHERALG $CIPHERSIZE-bit``
Certificate: ``$CERTORG ($CERTALG $CERTSIZE-bit: $CERTHASH)``

Problem still persist, currently in firefox 46.0. The main difference is that I'm using hungarian language firefox, should that be the source of the problem?

(Problem exists on different installs - however I'm using the same firefox profile)

If it helps, I'm wi

[2016-05-14 05:25] gavinhungry commented on #36
Those strings are not localized, so that seems unlikely to be the root of the problem (however, I would love to have Hungarian strings in CipherFox - you can do a pull request or just open another issue).

Can you try a fresh Firefox profile? Since @Cai0407 and I both aren't seeing this, I'm wondering if it's something else in your existing profile.

[2016-05-14 08:19] hzsolt94 commented on #36
I've just created a fresh and empty firefox profile, nothing but chipherfox installed, so sadly it's not profile related. I'll try it out on a complete fresh install of a hungarian and english ubuntu 16.04 and see what's the difference.
![chipherfox-freshprofile](https://cloud.githubusercontent.com/assets/1573042/15267272/5f76bf1a-19bd-11e6-9b62-363578a0f2ec.png)

[2016-05-14 10:00] hzsolt94 commented on #36
I'we done some testing, and I can confirm the error is related to the hungarian translation.

Try the following things:
 1. Install hungarian language to firefox (apt-get install firefox-locale-hu)
 2. set intl.locale.matchOS to false
 3. set general.useragent.locale to hu-HU
 4. restart firefox
 -> Cipherfox produces the "?" errors
 5. set general.useragent.locale to en-US
 6. restart firefox
 ->

[2016-05-17 22:34] hzsolt94 commented on #36
After furthet investigation, it's clear that only $CERTALG, $CERTSIZE and $CERTHASH variables are affected.

For me, it seems to be a problem getDisplayData() on certDmp. Maybe, it has sligtly different return values based on locale? @gavinhungry Could you please point me towards the related documentation, so I could debug and maybe patch it?

[2016-05-18 16:16] gavinhungry commented on #8
Closing, as I haven't heard an update and this is likely out of my hands.

[2016-05-18 16:16] #8 closed

[2016-05-18 16:17] gavinhungry commented on #31
@DaAwesomeP I think I like that idea too. I'll implement and see how it looks.

[2016-05-18 16:50] gavinhungry commented on #36
@hzsolt94,

I've never found good documentation on these interfaces, sorry. A lot of this was trial-and-error on my part.

I installed CipherFox 3.13.0 from AMO in Firefox 46 running the hu-HU locale, and I see the exact same issue as you. But, if I install CipherFox from GitHub (which I haven't changed since 3.13.0), it works:

![phobos-20160518_094716_pdt](https://cloud.githubusercontent.com/ass

[2016-05-18 17:09] gavinhungry commented on #36
@hzsolt94,

I think I've found the issue here. I compare the string from `getDisplayData` (which I assumed were localized, but they may not always be) to the strings in `chrome://pipnss/locale/pipnss.properties` (which are localized).

For example, `getDisplayData(11)` could return `PKCS #1 RSA Encryption`, which I compare to `GetStringFromName('CertDumpRSAEncr')`. But for `hu-HU`, the string ther

[2016-05-18 17:31] gavinhungry commented on #36
I can't find a way to access `pipnss.properties` for a locale other than what is currently being used. If you can find a way to access the `en-US` strings for this file while using the `hu-HU` locale, please let me know. The other alternative is to hard-code the English strings into CipherFox, which I'd like to avoid.

[2016-05-18 18:06] gavinhungry commented on #36
I found the English strings in:
`jar:file:///usr/lib/firefox/omni.ja!/chrome/en-US/locale/en-US/pipnss/pipnss.properties`

But that's obviously fragile and not portable at all. I'd like to find a programmatic way of getting that location.

[2016-05-18 19:22] hzsolt94 commented on #36
Sadly, I don't have experience in developing firefox extensions, so I don't really know a way to get those english strings, i'm sorry.  However ``PKCS #1 RSA titkosítás`` is a valid translation of ``PKCS #1 RSA Encryption``, so you're perfectly correct.

I'll try to install your extension from github and report if it makes a difference.

[2016-05-18 19:24] gavinhungry commented on #36
The alternative is to hard-code the English strings into CipherFox, but that's a last resort (or maybe it's a temporary fix, but my "temporary" fixes are usually permanent).

[2016-05-19 00:41] DaAwesomeP commented on #31
@gavinhungry Great!

[2016-05-19 00:46] DaAwesomeP commented on #31
There is another issue now... The lines of the dropdown have ellipses. This screenshot is from Nightly.
![screenshot 42](https://cloud.githubusercontent.com/assets/4472083/15379243/ddad33e8-1d30-11e6-8b05-6e3ff8d8c53c.png)

[2016-05-19 01:12] dings-bums commented on #31
... but it is wide enough to show full ciphersuite and protocol version. Dates should have short format (M/T/JJJJ), but I don't know, whether Chipherfox can change this (probably determined by Firefox).

[2016-05-21 09:52] hzsolt94 commented on #36
What about using a hard-coded regex for getDisplayData ? It sounds a bit quick&dirty but I think ``PKCS #1 RSA`` (and the other specifications) will hardly ever change in any localization. I think that's one of the most portable ways you could do it.

[2016-05-27 17:29] gavinhungry commented on #36
@hzsolt94,

Yes, I think that would probably work, as long as there is little (ideally none) change between locales. I'll look into that.

[2016-05-27 20:35] gavinhungry commented on #36
@hzsolt94,

Can you try this with Firefox set to the hu-HU locale?

- Set `devtools.chrome.enabled` in `about:config` to `true`.
- Open the Browser Console with `Ctrl+Shift+J`.
- Enter the following into the console:
[code]

That should open the strings from the en-US locale.

[2016-05-28 22:37] hzsolt94 commented on #36
Tested on Ubuntu, it opens:
jar:file:///usr/lib/firefox/omni.ja!/chrome/en-US/locale/en-US/pipnss/pipnss.properties
Contents: https://gist.github.com/hzsolt94/65306d489300ebc10bf346c4ed879c8d

Tested on Windows 7, it wants to open:
jar:file:///C:/Program%20Files%20%28x86%29/Mozilla%20Firefox/omni.ja!/chrome/en-US/locale/en-US/pipnss/pipnss.properties
But the browser displays a *file not found erro

[2016-05-31 15:23] gavinhungry commented on #36
@hzsolt94,

What version of Firefox are you running on Windows 7? That same URL that failed for you opened for me in Firefox 46 on Windows 10. Can you check the `C:\Program Files (x86)/Mozilla Firefox` directory for the existence of the file `omni.ja`? If it is there, then the English strings might not exist on your machine at all.

[2016-06-01 15:14] gavinhungry opened #38 "Add short date options"
The long date strings (`$CERTISSUED`, `$CERTEXP`) can take up too much space depending on locale.

[2016-06-01 15:22] gavinhungry commented on #31
I'll address the "long date" issue under #38.

- Added a "Menu Heading" formatting string, which renders to a disabled menu item at the top of the dropdown. You can use the same formatting string that you use for the button, but this way you're not forced to. The default is `$CIPHERSUITE`. An empty string here removes the header.
- Updated the style to match the latest versions of Firefox.
- Remov

[2016-06-01 15:54] gavinhungry commented on #38
This is the `nsIX509CertValidity` object generated on my machine (Linux, en-US) from GitHub's certificate:
[code]

CipherFox uses the `notBeforeLocalDay` and `notAfterLocalDay` keys to populate the `$CERTISSUED` and `$CERTEXP` formatting variables, respectively. Not all locales will present these in such a short format. This is the `nsIX509CertValidity` object generated by a Windows en-US machine

[2016-06-01 16:13] gavinhungry commented on #38
I think `Date.prototype.toLocaleDateString` may get us a consistently short, localized format:

[code]

[code]

[2016-06-01 16:20] #38 closed

[2016-06-01 16:41] #5 closed

[2016-06-01 18:15] gavinhungry commented on #36
Firefox 46, Linux:
![fx46-linux](https://cloud.githubusercontent.com/assets/744538/15720635/0cacd874-27ea-11e6-9bf4-e460b2c9004c.png)

Firefox 46, Windows:
![fx46-win](https://cloud.githubusercontent.com/assets/744538/15720636/0cb0eb30-27ea-11e6-9856-11ddb4325947.png)

Firefox 47-48, Windows:
![fx47-win](https://cloud.githubusercontent.com/assets/744538/15720634/0cacd3b0-27ea-11e6-8954-773c8d96255

[2016-06-01 18:15] gavinhungry commented on #31
Firefox 46, Linux:
![fx46-linux](https://cloud.githubusercontent.com/assets/744538/15720635/0cacd874-27ea-11e6-9bf4-e460b2c9004c.png)

Firefox 46, Windows:
![fx46-win](https://cloud.githubusercontent.com/assets/744538/15720636/0cb0eb30-27ea-11e6-9856-11ddb4325947.png)

Firefox 47-48, Windows:
![fx47-win](https://cloud.githubusercontent.com/assets/744538/15720634/0cacd3b0-27ea-11e6-8954-773c8d96255

[2016-06-01 18:25] #31 closed

[2016-06-01 18:27] #35 closed

[2016-06-01 18:36] gavinhungry commented on #36
@hzsolt94,

I installed the Hungarian build of Firefox, and the English strings are indeed not included at all. This is opposed to installing the English version of Firefox, then using the Hungarian language pack.

So, I think the only recourse is hard-coding strings into CipherFox.

[2016-06-01 20:30] hzsolt94 commented on #36
@gavinhungry The missing translations makes sense: the missing file error for me was on a Firefox which is native Hungarian, However Firefox on Ubuntu is always "English first, than localized", that's just the way they package it.  - But that could be the point -> I don't think you must hardcode english strings!

On my Firefox installations where it's "native Hungarian" your current extension work

[2016-06-01 21:02] gavinhungry commented on #36
@hzsolt94,

I think that you're absolutely right. Hard-coding the English strings will not do any good for a "native Hungarian" install of Firefox, since the strings that come back from the certificate API will be in Hungarian.

So I think step 1 is correct:

This would be the file "chrome://pipnss/locale/pipnss.properties" that we know and love - for this file, you should always get the strings i

[2016-06-01 21:21] gavinhungry commented on #36
@hzsolt94,

Looks like `intl.accept_languages` won't work - it matches the language pack. If you have the "native English" Firefox installed, and have the Hungarian language pack installed, I need to a way to know that  you originally installed Firefox in English.

[2016-06-01 21:46] hzsolt94 commented on #36
@gavinhungry Just checked: intl.accept_languages are the same regardless of installers languge: ``hu-hu, hu, en-US, en``

I will make a testbed for "Hungarian install with Spanish locale" though, and look through the about:config on all my installs for something like this.

Just rethinking the language selection approach: what if you make your own key in about:config and use that to get the right

[2016-06-01 21:50] dings-bums opened #39 "Remove RC4-Option"
Firefox ESR 38.8 is the last release which supports RC4-fallback by default and will update to ESR 45.2 next week, where this option has no effect any more.

Perhaps you could replace this with an option to block mixed-content pictures (toggle pref 'security.mixed_content.block_display_content'.

[2016-06-01 21:50] gavinhungry commented on #36
@hzsolt94,

That's right, but once you activate the language pack, `intl.accept_languages` will change, and we won't see `hu` or `hu-HU` in there any more, which is bad.

Please try this from your Browser Console. You should always get back the locale that you used to _install_ Firefox, ignoring whatever language packs you may have installed or are using.

Try it with:
- Installed Hungarian (shoul

[2016-06-01 21:55] gavinhungry commented on #39
I think I will also then have to bump the `minVersion` to 45.

https://www.mozilla.org/en-US/firefox/organizations/all/ says that ESR is 45.1.1 though.

[2016-06-01 21:56] hzsolt94 commented on #36
Gives exception for Firefox 46.0.1 on Ubuntu 16.04 (packaged: en, currently: hu)
[Exception... "Failed to open input source 'jar:file:///usr/lib/firefox/omni.ja!/update.locale'"  nsresult: "0x80520012 (NS_ERROR_FILE_NOT_FOUND)"  location: "JS frame :: debugger eval code :: <TOP_LEVEL> :: line 9"  data: no]

[2016-06-01 21:58] gavinhungry commented on #36
Hmm, it worked for me on Firefox 46 (Windows) and Firefox 48 (Linux).

[2016-06-01 22:04] hzsolt94 commented on #36
OK, For Windows 7 (FF 46.0.1) it seems working:
HU install, HU locale: outputs hu
HU install, EN locale: outputs hu
Only linux gives the exception (hu locale).
Chipherfox also produces the "? error" on HU install EN locale, which is expected.

I'll test it on more configs soon, I just need to set up some VM's for it.

[2016-06-01 22:16] dings-bums commented on #39
RC4 was disabled with release of Firefox 44 (see https://groups.google.com/forum/#!msg/mozilla.dev.platform/JIEFcrGhqSM/CIjtpwxoLQAJ). ESR does not automatically upgrade to the next major version until the last minor version is eol (normally xx.8).

[2016-06-01 22:28] gavinhungry commented on #36
@hzsolt94,

Try opening `/usr/lib/firefox/omni.ja` on your Linux machine as a zip file, see if there is an `update.locale` file present within.

[2016-06-01 22:34] hzsolt94 commented on #36
@gavinhungry No such file. Attaching my omni.ja file list.
[omni.ja.files.txt](https://github.com/gavinhungry/cipherfox/files/294487/omni.ja.files.txt)

[2016-06-01 22:39] hzsolt94 commented on #36
@gavinhungry More said news:
The Firefox "Certificate Viewer" shows the certificate's details in the installers language, not in the current locale. Hovewer buttons and some titles are localised. Knowing that, I think that the API's behaviour which're currently trying to workaround, is actually a Firefox bug. Maybe, we should open a Firefox bugticket?

To sum it up:
 - cipherfox works if the API's

[2016-06-01 22:40] gavinhungry commented on #36
That assumes I know all of the installed languages - which I don't, at least not yet.

[2016-06-01 22:43] gavinhungry commented on #36
Try this instead - a little hackier this time:

[code]

[2016-06-01 22:55] hzsolt94 commented on #36
@gavinhungry This works on Ubuntu too.
``en-US`` for FF on Ubuntu
``hu`` for FF en on Windows 7, originally hu
``hu`` for FF hu on Windows 7, originally hu
Still to test on originally en versions...

[2016-06-01 23:04] hzsolt94 commented on #36
``en-US`` for FF en on Windows 7, originally en
``en-US`` for FF hu on Windows 7, originally hu

[2016-06-01 23:05] gavinhungry commented on #36
Hmm, that last one:

Is bad news.

[2016-06-01 23:06] hzsolt94 commented on #36
That's my fault, I just mistyped it. Sorry, fixed.

[2016-06-01 23:07] gavinhungry commented on #36
OK, I can use that, then. Thanks for testing all of these!

I'll still use the localized strings as a fallback, so it shouldn't hurt anything, just help those who have a the "native language" installed versions of Firefox (like you :)).

[2016-06-01 23:09] hzsolt94 commented on #36
Thank you very much for investigating in my issue! Looking forward to test the updated cipherfox.

[2016-06-01 23:10] gavinhungry commented on #36
I'll probably have a build that you can test sometime in the next hour or so, if you're interested.

[2016-06-02 00:09] gavinhungry commented on #36
@hzsolt94,

Please try:
https://github.com/gavinhungry/cipherfox/releases/tag/4.0.0-beta1

You can install it with the `xpi` file provided there. You may have to set `xpinstall.signatures.required` to `false` first.

[2016-06-02 00:10] gavinhungry commented on #36
One thing I noticed while working with a "native Hungarian" install of Firefox, is that the CipherFox preferences are not localized. Are you seeing that as well?

If not, then perhaps it is just because my system locale is `en-US`.

[2016-06-02 00:43] gavinhungry commented on #39
CipherFox is also supported in Pale Moon and SeaMonkey. That doesn't change the fact that RC4 is insecure, so I don't think it's a needed option anymore.

[2016-06-02 00:43] #39 closed

[2016-06-02 08:36] hzsolt94 commented on #36
@gavinhungry This "?" issue is solved by the beta build. The Hungarian translation does not work for me neither, but it could be a separate issue. (As a reference, Spanish translations do work on the same installs.)

[2016-06-02 12:43] gavinhungry commented on #36
I just realized that I forgot to add `hu-HU` to `chrome.manifest`. Closing.

[2016-06-02 12:43] #36 closed

[2016-06-05 17:25] hzsolt94 commented on #36
Thanks. Are there any plans for v4.0?

[2016-06-06 18:28] gavinhungry commented on #36
It should be published to AMO soon, but you can get it now here:
https://github.com/gavinhungry/cipherfox/releases/tag/4.0.0

[2016-06-07 15:03] gavinhungry commented on #36
@hzsolt94,

CipherFox 4.0.0 is now live on AMO:
https://addons.mozilla.org/en-US/firefox/addon/cipherfox/

[2016-07-14 13:21] hzsolt94 opened #42 "Cipherfox with partial https"
Cipherfox menu does not show up when firefox warns me about partial https. This happens when http content included in the https page. I think chipherfox menu should be visible in this case too, as the certificate chain still could contain important information.

How to reproduce: Go to a page with partial https, look for the chipherfox menu.
Example page: https://www.ssllabs.com/ssltest/viewMyClie

[2016-07-15 13:24] hzsolt94 commented on #42
Sorry, my issue is invalid. There is a configuration option in chipherfox which toggles this behaviour.

[2016-07-15 13:24] #42 closed

[2016-09-21 18:10] gotyaoi opened #43 "Mark extension as compatible with e10s"
relating to this: https://github.com/gavinhungry/cipherfox/issues/35

This extension is not currently marked as multiprocess compatible. This means it is blocking multiprocess functionality in 49.0. From some limited testing I did with forcing multiprocess on, this addon appears stable, so I think this addon can be marked as compatible with multiprocess by adding the correct flag to the install.rd

[2016-10-05 13:52] #43 closed

[2016-10-05 13:59] gavinhungry opened #44 "Add support for TLS 1.3"
Via email:

[2016-10-05 14:01] gavinhungry commented on #44
`TLS_VERSION_1_3` is exposed on `Components.interfaces.nsISSLStatus`, so this should be a one-line addition. I'm unaware what, if any, sites currently provide TLS 1.3, so I can't readily test this.

[2016-10-05 16:40] Der-Orden commented on #44
You can try https://www.cloudflare.com/
Currently Firefox 51.0a2 will use TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256  via TLS 1.3 but report it as broken Encryption.

[2016-10-05 16:43] gavinhungry commented on #44
@Der-Orden,

Hmm, I'm seeing `TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256` with TLS 1.2 on Fx 49. I'll try Fx 51.

[2016-10-05 16:50] Der-Orden commented on #44
Oh yes, TLS 1.3 is disabled by default.
You need to change security.tls.version.max from 3 to 4

[2016-10-05 16:51] gavinhungry commented on #44
@Der-Orden,

Thanks, I just discovered that.

[2016-10-05 17:25] gavinhungry commented on #44
![phobos-20161005_102240_pdt](https://cloud.githubusercontent.com/assets/744538/19123963/ed375bae-8ae5-11e6-8113-21d28d0dffbb.png)

This is Fx 51.

[2016-10-10 19:33] gavinhungry commented on #44
Fixed in 4.1.0, which has been submitted to AMO. If you can't wait, get it here:
https://addons.mozilla.org/en-US/firefox/addon/cipherfox/versions/?page=1#version-4.1.0

[2016-10-10 19:33] #44 closed

[2016-11-10 01:08] Cai0407 opened #45 ""Qualys SSL Labs Server Test" does not work on Fx 51+"
Here is an error log in browser console.

	TypeError: gBrowser.contentDocument is null    cipherfox.js:475:1

	 CipherFox.testDomain                          chrome://cipherfox/content/cipherfox.js:475:1

	 oncommand                                     chrome://browser/content/browser.xul:1:1

[2016-11-10 17:29] gavinhungry commented on #45
Seems that we can use `gBrowser.currentURI.host` in place of `gBrowser.contentDocument.domain`. I don't know how far back support for the latter property goes, so we might as well keep the former as well.

[2016-11-16 06:03] gavinhungry commented on #45
Looks like we can use `gBrowser.currentURI.host` instead of `gBrowser.contentDocument.domain`, but I'm unsure of how far back support goes for the former. So, we'll check them both.

[2016-11-17 01:33] hzsolt94 commented on #22
This addon might contain related code to implement this feature: https://addons.mozilla.org/hu/firefox/addon/pinpatrol/

[2016-11-18 00:35] gavinhungry commented on #22
By the looks of it, that extension is parsing SiteSecurityServiceState.txt (in your Fx profile directory). I wonder if there isn't an existing API that could be used instead.

[2017-01-11 10:22] kapitainsky commented on #45
I assume as it is opened it has not been fixed yet? I have started using FF 51 beta and it  "Qualys SSL Labs Server Test" does not work. FF 51 should move to release channel very soon so would be nice to iron it.

[2017-01-11 13:09] gavinhungry commented on #45
@kapitainsky,

I forgot about this, thank you. I fixed the issue but did not submit an updated version to AMO. Will fix today.

[2017-01-13 21:56] gavinhungry commented on #45
Version 4.1.1 has been submitted to AMO, expect to see it soon.

[2017-01-13 21:56] #45 closed

[2017-01-15 12:32] kapitainsky commented on #45
installed and tested. works as expected now. Thx!

[2017-01-15 12:49] Cai0407 commented on #45
4.1.1 works fine with Fx 51.0beta, 52.0a2, and 53.0a1. Good!

[2017-01-19 15:14] GdrjirfRtrUhYUdrjUMm opened #46 "Enhancement request: Switch from SSL labs test to new Observatory by Mozilla"
Observatory by Mozilla, https://observatory.mozilla.org, performs tests that SSL labs does not but also simultaneously tests with SSL labs, htbridge.com, tls.imirhil.fr, securityheaders.io, and hstspreload.org. It also gives preliminary results faster while the other tests have not yet finished.

[2017-01-20 11:41] Cai0407 commented on #46
Yes, it seems to be a better choice.

[2017-01-25 18:22] gavinhungry commented on #46
I like this as well, and it is an easy change to implement. Now I need to get [my domain](https://observatory.mozilla.org/analyze.html?host=gavinhungry.io) up from its D+ rating.

[2017-03-08 01:42] DaAwesomeP opened #47 "WebExtensions"
This is a very useful extension, so I would hate to see its demise in later Firefox versions. Is it possible to re-implement the extension with the WebExtension API? It won't be able to reside in the convenient place where it does not (in the SSL dropdown in the URL bar), but at least it will be able to provide the detailed SSL info somewhere.

[2017-03-08 01:47] gavinhungry commented on #47
I have not looked into what WebExtensions expose that we could use to make CipherFox work. That said, ~~I no longer use Firefox (except for updating this extension, occasionally), so~~ it's not a high priority for me. In the likely event that I never get around to this, Pull Requests for this feature are absolutely welcome.

[2017-04-16 09:20] hzsolt94 commented on #47
As far as I know, it's not possible to implement Cipherfox via WebExtensions currently, because there's WebExtensions API to access certificate information. Here's a related bugzilla feature request:
https://bug623317.bugzilla.mozilla.org/show_bug.cgi?id=1322748

Addons not rewritten for WebExtensions will stop working at Firefox 57, November 14th. I'll try to track and update this issue.

[2017-06-23 04:40] sergeevabc commented on #29
Support seems to be broken.

[2017-07-08 22:04] hzsolt94 opened #48 "Questionmarks for chiper size, type, hash, and other values"
Hi Gavin,

I'm experiencing the same issue again like #36, this time with the latest 4.1.1 version, Ubuntu 17.04 54.0 (64-bit) Hungarian.

Do you think we can manage to fix this one more time? I'll look around to see if it's still language specific.

[2017-07-08 22:08] hzsolt94 commented on #48
Yes, it is language specific, setting Firefox to English fixes everything, just like last time.
Was the fix revoked from 4.1.1? Or maybe the "Original Language" detection code in the fix broke?

[2017-07-13 18:12] wolfbeast commented on #46
I greatly prefer Qualys and don't necessarily want to broadcast to all of the observatory-linked sites what I'm testing.

In addition, the Mozilla observatory:
- Makes assumptions about what is considered "good practice" that are debatable
- Isn't providing a full report itself
- Is calling anything that isn't exactly "as per Mozilla's decisions" to be **non-compliant** (such BS, sorry but it is!)

[2017-07-13 18:13] wolfbeast opened #49 "Add support for TLS 1.3 protocol"
I'm using Cipherfox on Pale Moon. With v27.4.0, TLS 1.3 was added to the browser, which shows up as a "?" in the extension. Could you please add TLS 1.3 support?

[2017-07-15 07:38] Cai0407 commented on #49
Support for TLS 1.3 has been added by #44. Is something different between Fx and PM?

[2017-07-15 15:28] wolfbeast commented on #49
Hmm.. I see it was added in 4.1.0, however I haven't been offered an update past 3.12.0; possibly a version range issue on AMO; I'll look into what's up -- would you be adverse to listing the extension on our own add-ons site?

[2017-07-15 15:36] wolfbeast commented on #49
It doesn't look like 4.1.1 works in Pale Moon; there is no display in either the add-ons bar or the identity panel doorhanger.

[2017-10-12 22:16] wolfbeast opened #50 "Error thrown with cipherfox 4.1.1 in Pale Moon 27.5.*"
Cipherfox 4.1.1 throws the following error when installed in Pale Moon 27.5.*:

[code]

This seems to be in the case statement where hash types are determined, assuming strings are available with the same names as in Firefox.
With this error thrown, the extension fails to work entirely.

[2017-10-12 22:47] wolfbeast commented on #49
A quick workaround to make 4.1.1 work in Pale Moon shows tls 1.3 is supported for display. Closing this issue.

[2017-10-12 22:47] #49 closed

[2017-10-12 22:49] wolfbeast commented on #50
If I wrap the switch statement in a `try()/catch()`, it works, although it displays "?" for the certificate hash in that case (of course).

[2017-10-13 20:36] gavinhungry commented on #46
I think we'll leave Qualys for now.  We can reopen this later as needed.

[2017-10-13 20:36] #46 closed

[2017-10-13 20:37] gavinhungry commented on #47
@hzsolt94,

Do you have any update? I'm just getting back to looking into this, so you probably have more up-to-date information than I do.

[2017-10-13 22:05] gavinhungry commented on #50
This looks to be because Pale Moon does not have support for the following certificate signature algorithms (or at least, they don't appear in `pipnss.properties`):

    CertDumpAnsiX962ECDsaSignatureWithSha224
    CertDumpAnsiX962ECDsaSignatureWithSha256
    CertDumpAnsiX962ECDsaSignatureWithSha384

My mistake was not realizing that calling `StringBundle@GetStringFromName` with a string key that

[2017-10-13 22:11] #50 closed

[2017-10-13 22:34] gavinhungry commented on #48
@hzsolt94,

Is this still an issue? I'm unable to reproduce it, as Firefox 56 will not let me install unsigned extensions (` xpinstall.signatures.required` be damned), and Firefox Developer Edition is already 57, which requires WebExtensions. I also can't find the hu-HU language pack for Firefox 52 ESR.

Either way, reopen if this is still something that needs to be fixed.

[2017-10-13 22:34] #48 closed

[2017-10-14 01:19] wolfbeast commented on #50
We don't have the strings in the .properties file because we don't pretty-print the names of ECDSA with SHA-2 algorithms in Certificate Viewer. Yet, anyway; seems like a good enhancement, so it'll help your extension out in turn too.

[2017-10-14 02:46] DaAwesomeP commented on #47
There seems to be some progress at the Mozilla bug thread, but it's slow: https://bug623317.bugzilla.mozilla.org/show_bug.cgi?id=1322748

[2017-10-14 02:52] DaAwesomeP commented on #47
It might be possible to analyze the SSL separately from Firefox on-click with [a native JavaScript library like Forge](https://github.com/digitalbazaar/forge). A relatively safe request to `/favicon.ico` would do the trick. It shouldn't be too slow or cause a performance hit if it's activated per-use and only analyzing one request. I will consider developing this myself, but it would be very diffe

[2017-10-15 10:47] herczegzsolt commented on #47
@DaAwesomeP i'm concerned about this workaround causing false sense of security to the user.
 - In case the server handshakes with Firefox using a weaker algo cert than with the addon, user may be falsely identify the site as secure
 - In case of a MITIM attack, it's easy to isolate and pass-through the request of such an addon, causing the user to falsely identify the site as secure

Because it's

[2017-10-15 10:55] herczegzsolt commented on #48
@gavinhungry Yes, it's still an issue in Firefox 54-56, but to be fair i don't think it can or should be fixed sadly.

Everything is fine in Firefox 52 ESR. I think it's safe to say we must use 52 ESR to have this addon, until it can be reimplemented via WebExtensions.

[2017-11-14 16:49] kmcquade opened #51 "Update for Firefox 57 support"
Marked as a Legacy extension in Firefox 57 and cannot be enabled. Please update for Firefox 57! Love this extension

[2017-11-16 15:12] xrobin commented on #51
I think this is exactly what issue #47 is about.

[2017-11-27 20:33] kmcquade commented on #51
@xrobin agreed. Thanks for pointing that out. Closing this issue.

[2017-11-27 20:33] #51 closed, assigned to nobody

[2018-04-26 17:14] #33 closed

[2018-04-27 02:02] TPS commented on #33
@beerisgood Has this been accomplished?

[2018-05-25 15:09] evilpie commented on #47
I think this should now be possible to implement in Firefox Nightly, because [bug 1322748](https://bugzilla.mozilla.org/show_bug.cgi?id=1322748) just landed.

[2022-04-19 03:24] gavinhungry commented on #47
@DaAwesomeP @herczegzsolt @evilpie

I've un-archived this repository in order to investigate developing a WebExtensions version of CipherFox - unless somebody has already developed a suitable alternative?

Notes:

* https://stackoverflow.com/questions/2402121/within-a-web-browser-is-it-possible-for-javascript-to-obtain-information-about

[2022-04-20 12:14] herczegzsolt commented on #47
@gavinhungry I've not found any suitable alternatives within firefox or chrome, I use the openssl cli when I have to. I would love to see this extension again.

I don't have the bandwidth at the moment to work on implementing this, but I'm more than happy to test and debug it if that helps.

[2022-04-20 14:07] FabioPedretti commented on #47
There is this other extension now:
- https://addons.mozilla.org/it/firefox/addon/certainly-something/
- https://github.com/april/certainly-something

[2022-04-21 10:44] TPS commented on #47
That's not really an alternative, but might be helpful in rewriting CF.

From its ReadMe:

[2022-04-23 16:59] TPS commented on #47
This might be a bit closer:
https://addons.mozilla.org/en-US/firefox/addon/indicatetls/
↓
https://github.com/jannispinter/indicatetls

[2022-04-29 05:03] gavinhungry commented on #47
Actually, after having now seen IndicateTLS, I'm really cooling on the idea of porting CipherFox at all ... that seems pretty feature-complete to me.

[2022-04-29 11:14] TPS commented on #47
It hasn't been updated in 2 years & there're a bunch of open issues, so @ least some of its _(non-troll 😉)_ users disagree w/ you re: that.  Maybe develop _there_?

[2022-04-29 19:10] gavinhungry commented on #47
I suppose I meant feature-complete compared to what I myself would likely implement here.

Seems better to extend and support IndicateTLS than completely re-write CipherFox at this point.